<p id="notice"><%= notice %></p>

There is a total of <span id='occupied-spots'><%= @occupied_spots %></span> spots taken so far.
<br>
There are <span id='member-total'><%= Owner.count %></span> members in the system.
<br>
<br>

<div class='green-button'>
  <a href=<%= new_visit_path %>>
    Check-in
  </a>
</div>

<br>
<br>

<div id='check-out' class='red-button'>
  <a href='#'>
    Check-out
  </a>
</div>